* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: beige;
    color : black;
    height: 5rem;
    line-height: 5rem;
    font-family: 'Times New Roman', Times, serif
}

.choice {
    height : 165px;
    width : 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height : 150px;
    width : 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choice:hover {
    opacity : 0.9;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
    background-color: #081b31;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.round-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
    font-family: Comic Sans MS;
    font-size: 1.25rem;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
    font-family : Comic Sans MS;
    font-size: 1.5rem;
}

.msg-container {
    margin-top: 4rem;
}

#msg {
    background-color: #081b31;
    color : white;
    margin-top : 3rem;
    line-height: 3rem;
    font-size: 1rem;
    font-family: Comic Sans MS;
    font-style: italic;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

.end{
    background-color: black;
    color : white;
    font-size: 0.75rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    gap: 1.5vmin;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}